**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate.*.backup
**/*.tfplan
**/*.tfplan.*

**/bin/
**/*.test
**/*.out
**/go.work
**/.env
**/.vscode/
**/*.swp
**/*.swo
**/~*

**/.DS_Store
**/Thumbs.db

**/logs/
**/*.log
